@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
body {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e5e0ff;
}
.container {
  width: 250px;
  height: 400px;
  padding: 10px;
  border-radius: 10px;
  background-color: white;
}
img {
  width: 100%;
  border-radius: 10px;
}
h4,
p {
  width: 80%;
  line-height: 1.5;
  margin: 1em auto;
  text-align: center;
}
p {
  color: #808080;
  font-size: 0.8rem;
}
